{% extends "base_generic.html" %}
{% block content %}
<h2>Hi, {{ user.get_username }}!</h2>
<h3>There're your latest operations:</h3>
<a class="btn btn-default" href="{% url 'add_transaction'%}"><b>Add new</b></a>
{% for day in days %}
<div>
    <b><u>{{day.date|date:"M d, Y"}} totally: {{day.sum}}</u></b>
</div>
{% for transaction in day.transactionsofday %}
<div>
<li>
    <b>{{ transaction.created_date|date:"P" }}:</b>
    <p>{{ transaction.transaction_type}}{{ transaction.amount}} {{ transaction.comment}}
            {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'edit_transaction' pk=transaction.pk %}"><b>Edit</b></a><a class="btn btn-default" href="{% url 'transaction_delete' pk=transaction.pk %}"><b>Delete</b></a>
            {% endif %}
    </p>
    
</li>
</div>
{% endfor %}
{% endfor %}
{% endblock %}